extends ../layout

block content
  h1= title

  a(class='btn btn-primary btn-sm' href='/movies/create') Add a Movie

  div(class='pb-5')

  if movieList.length
    ul
      each movie in movieList
        li
          a(href="/movies/" + movie.film_id) #{movie.title}
          |  (#{movie.release_year})
          p= movie.description

  else
    p There are no movies.
