extends layout

block content
  h1= title
  
  if movieList.length
    ul
      each movie in movieList
        li
          a(href="/movies/" + movie.film_id) #{movie.title}
          |  (#{movie.release_year})
          p= movie.description

  else
    p There are no movies.
